body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1f2937;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    display: flex;
    margin: 0 250px 0 0;
    padding: 0;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    position: flex-end;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav_h1 {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 250px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left_content {
    
}

.header_h1 {
    font-size: 48px;
    font-weight: exta-bold;
    color: #f9faf8;
    margin-bottom: 0;
}

.header_p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

.header_img {
    width: 500px;
    height: 25%;
}

.header_btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.header_btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

.main_section1 {
    text-align: center;
}

.main_section1_heading  {
    font-weight: 700;
    
}

.main_section1_flex_container {
    display: flex;
    justify-content: center;
}

.main_section1_img {
    min-height: 150px;
    min-width: 150px;
    border: 4px solid #3882f6;
    border-radius: 30px;
}
